<!-- views/patient/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/navigation.ejs %>

<header>
    <% include ../partials/header %>
</header>

<div class="content">
    <div class="content-heading">
        <div class="container container-full">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/"><span class="icon icon-home"></span>HOME</a>
                            </li>
                            <li class="active">
                                <a href="/patient">PATIENTS</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner">
        <div class="container">


            <div class="tile-wrap">
                <div class="tile">
                    <div class="tile-inner">
                        <h5 class="content-sub-heading">清單&nbsp;<small>點選後可以展開看詳細資訊或是進行編輯</small></h5>
                    </div>
                </div>
                <% patients.forEach(function(patient){   %>
                <div class="tile tile-collapse">
                    <div class="tile-toggle" data-parent=".content" data-target="#<%= patient.id %>" data-toggle="tile">
                        <div class="pull-left tile-side">
                            <% if (patient.get('kind') == 'Inpatient') { %>
                            <div class="avatar avatar-red avatar-sm">
                                住
                            </div>
                            <% } else { %>
                            <div class="avatar avatar-blue avatar-sm">
                                門
                            </div>
                            <% } %>
                        </div>
                        <div class="tile-action tile-action-show">
                            <ul class="nav nav-list pull-right">
                                <li>
                                    <a href="<%= '/patient/' + patient.id + '/edit' %>"><span class="access-hide">Delete</span><span class="icon icon-edit"></span></a>
                                </li>
                                <li>
                                    <a href="javascript:deletePatient('<%= patient.id %>');"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tile-inner">
                            <div class="text-overflow">
                                【<%= (patient.get('sex') == 'male') ? '男' : '女' %>】<%= patient.get('name') %>
                                <span><%= patient.get('insurancePoint') %></span>
                                <span><%= patient.get('innerPoint') %></span>
                            </div>
                        </div>
                    </div>
                    <div class="tile-active-show collapse" id="<%= patient.id %>">
                        <div class="tile-sub">
                            <p>病歷號: <small><%= patient.get('chartNo') %></small></p>
                            <p>生日: <small><%= patient.get('bDay') %></small></p>
                            <p>性別: <small><%= patient.get('sex') %></small></p>
                            <p>科目: <small><%= patient.get('division') %></small></p>
                            <p>狀態: <small><%= patient.get('kind') %></small></p>
                            <p>健保點數: <small><%= patient.get('insurancePoint') %></small></p>
                            <p>科內點數: <small><%= patient.get('innerPoint') %></small></p>
                            <p>預約日期: <small><%= patient.get('day') %></small></p>
                            <p>預約時段: <small><%= patient.get('period') %></small></p>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</div>



<footer>
    <% include ../partials/footer %>
</footer>


<div class="fbtn-container">
    <div class="fbtn-inner">
        <a class="fbtn fbtn-red fbtn-lg waves-circle waves-effect waves-light" title="NEW" href="/patient/new">
            <span class="access-hide">新增</span>
            <span class="fbtn-ori icon icon-add"></span>
        </a>

    </div>
</div>

    <script>
        function deletePatient(id) {
            swal({
                title: "是否確定刪除?",
                text: "你真的要刪掉? 刪了就救不回來了喔",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "確定！刪吧",
                cancelButtonText: "還是不要好了",
                closeOnConfirm: true
                    },
                    function(isConfirm){
                        if (isConfirm) {
                            $.ajax({
                                url: '/patient/'+ id,
                                method: 'POST',
                                data: {_method:'delete'},
                                mimeType:"multipart/form-data",
                                success: function (data, textStatus, jqXHR) {
                                    console.log('SUCCESS');
                                    swal({
                                        title: "完成",
                                        text: "已成功刪除",
                                        type: "success",
                                        timer: 1500,
                                        showCancelButton: false,
                                        showConfirmButton: false,
                                        closeOnConfirm: false
                                    }, function(){  location.reload();
                                    });
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    console.log(textStatus);
                                }
                            });
                        }
                    });

        }
    </script>

</body>
</html>