<!-- views/therapist/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/navigation.ejs %>

<header>
    <% include ../partials/header %>
</header>

<div class="content">
    <div class="content-heading">
        <div class="container container-full">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10">
                    <h1 class="heading">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li>
                                <a href="/therapist">THERAPISTS</a>
                            </li>
                            <li class="active">
                                <a href="<%= "/therapists/" + therapistId + "/edit" %>">EDIT</a>
                            </li>
                        </ul>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner">
        <div class="container">
            <form class='form-horizontal' method='post' action=<%= '/therapist/' + therapist.id  %> >
                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label for="inputName" class="floating-label">姓名</label>

                            <input type="text" class="form-control" id="inputName" name="name" value="<%= therapist.get('name') %>">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio radio-adv radio-inline">
                        <label for="input-radio-1">
                            <input class="access-hide" id="input-radio-1" name="sex" type="radio" value="male" <%= therapist.get('sex') == 'male' ? 'checked' : '' %>> 男
                        </label>
                    </div>
                    <div class="radio radio-adv radio-inline">
                        <label for="input-radio-2">
                            <input class="access-hide" id="input-radio-2" name="sex" type="radio" value="female" <%= therapist.get('sex') == 'female' ? 'checked' : '' %>> 女
                        </label>
                    </div>
                </div>
                <div class="form-group-btn">
                    <!-- This hidden element causes express.methodOverride middleware to override
                        the HTTP method from post to put for a truly RESTful interface. -->
                    <input type='hidden' name='_method' value='put' />
                    <button class="btn btn-blue waves-button waves-light waves-effect" type="submit">修改</button>
                    <button class="btn waves-button waves-effect" type="button" onclick="window.location='/therapist'">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>






<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>